* {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

#border {
    border: 15px solid black;
    min-width: 500px;
}

#body {
    background: #383F46;
    padding-top: 20px;
}

#jumbotron {
    background: #71787D;
    color: white;
    margin: 0px;
    border-radius: 0px;
}

.likes {
    float: left;
    width: 40%;
    margin-right: 1%;
    margin-bottom: 50px;
    background: #71787D;
    padding: 10px;
    min-height: 500px;
    min-width: 150px;
}

.table-responsive {
    max-height: 500px;
    max-width: 500px;
    overflow-y: scroll !important;
}

tr {
    height: 25px;
    max-height: 25px;
    border-collapse: collapse;
    border: 0;
    border-color: none;
    border-style: hidden;
}

td {
    padding: 0 !important;
}

tr p {
    margin: 0;
    padding: 0;
}

.message {
    float: right;
    width: 55%;
    min-height: 263px;
    margin-bottom: 50px;
    background: #71787D;
    padding: 10px;
}

#message {
    width: 70%;
    min-height: 250px;
    color: black;
}

button {
    background-color: #ffd631;
    min-width: 20%;
    margin: 20px;
}

.btn {
    color: black;
}

button:hover {
    background-color: #ffe26e;
    font-weight: bold;
}

.btn:hover {
    color: black;
}