@{
    Layout = "~/DesktopModules/MVC/FacebookModule/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#errors').hide();
        $('.loggedIn').hide();
        $('#successfulPost').hide();
        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_US/sdk.js', function () {
            FB.init({
                appId: '183652722184096',
                cookie: true,
                xfbml: true,
                version: 'v2.10'
            });
            //CALLS FUNCTION TO CHECK LOGIN STATUS
            checkStatus();
        });
    });

    //CHECKS LOGIN STATUS
    function checkStatus() {
        $.getScript('//connect.facebook.net/en_US/sdk.js', function () {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // USER IS LOGGED IN TO FACEBOOK, SHOWS PERSONALIZED DIVS
                    $('.loggedIn').show();
                    getProfileData();
                } else {
                    // USER IS NOT LOGGED IN, HIDES RELEVANT DIVS
                    $('.loggedIn').hide();
                    $('#loginStatus').html('Please connect to Facebook to continue using this app.');
                }
            });
        });
    }

    //CALLS FB API TO POST USER MESSAGE TO FEED
    function submitMessage(e) {
        var message = $('#message').val();
        FB.api(
            '/me/feed',
            'POST',
            {
                'message': message
            },
            function (response) {
                if (response && !response.error) {
                    console.log(message);
                    $('#postMessage').hide();
                    $('#successfulPost').show();
                    if (message.length >= 15) {
                        var trimmedMess = message.substring(0, 15);
                        $('#postStatus').html('Success! You posted "' + trimmedMess + '..." to your FB feed!');
                    } else {
                        $('#postStatus').html('Success! You posted "' + message + '" to your FB feed!');
                    }
                }
                else {
                    $('#errors').show();
                    $('#error').html(JSON.stringify(response));
                }
            }
        );
    }
    //HIDES POST SUCCESS MESSAGE, SHOWS CLEARED TEXTAREA
    function showTextarea() {
        $('#message').val('');
        $('#postMessage').show();
        $('#successfulPost').hide();
    }

    //CALLS FB API TO GET PROFILE INFO
    function getProfileData() {
        FB.api('/me',
            'GET',
            function (response) {
                if (response && !response.error) {
                    $('#userName').html(response.name);
                    console.log(response);
                    //CALLS FB API TO GET PROFILE PHOTO
                    FB.api(
                        '/' + response.id +'/picture?type=large',
                        'GET',
                        function (response2) {
                            $('#userPhoto').html('<img src="'+response2.data.url+'">');
                        }
                    );
                    FB.api(
                        '/me?fields = albums.limit(5),posts.limit(5)',
                        'GET',
                        function (response) {
                            if (response && !response.error) {
                                console.log(response);
                            }
                        }
                    );
                }
                else {
                    $('#errors').show();
                    $("#error").html(JSON.stringify(response));
                }
            }
        );
        //CALLS FB API TO GET USER LIKES
        FB.api('/me/likes?limit=100', function (response) {
            if (response && !response.error) {
                //PUTS MOST RECENT 100 LIKES INTO TABLE
                $.each(response.data, function (name, value) {
                    $("#likes").append(('<tr><td><p>' + value.name + '</p></td></tr>').toString());
                });
            }
            else {
                $('#errors').show();
                $("#error").html(JSON.stringify(response));
            }
        });
        
    }
</script>

<div id="border">
    <div class="jumbotron jumbotron-fluid" id="jumbotron">
        <center><h1 id="headerTitle">Facebook Module</h1></center>
    </div>
    <div class="container" id="body">
        <center>
            <h3 class="loggedIn">Welcome, <span id="userName"></span></h3>
            <div class="loggedIn" id="userPhoto"></div>
            <fb:login-button scope="public_profile, email, user_hometown, user_likes, publish_actions" autologoutlink="true" onlogin="checkStatus()"></fb:login-button>
            <p><span id="loginStatus"></span></p>
        </center>

        <div id='errors'>
            <div class='alert alert-danger'>
                <p><span id='error'></span></p>
            </div>
        </div>
        <div class="loggedIn">
            <div id="profileData" class="likes">
                <h5>MOST RECENT LIKES</h5>
                <div id="profileInfo"></div>
                <div class="table-responsive">
                    <table class="table">
                        <tr id="likes"></tr>
                    </table>
                </div>
            </div>
            <div class="message">
                <center>
                    <div id="postMessage">
                        <h5 class="blue">POST TO YOUR FEED:</h5>
                        <textarea id="message" placeholder="Enter message here..."></textarea>
                        <br />
                        <button type="button" class="btn" onClick="submitMessage()">POST</button>
                    </div>
                    <div id="successfulPost">
                        <h3><span id='postStatus'></span></h3>
                        <button type="button" class="btn" onClick="showTextarea()">POST AGAIN</button>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>